.DS_Store

*.dSYM
*.o

software/adc
software/blink
software/blink_ws2812
software/button
software/debugConsole
software/fade_ws2812
software/hardwarePWM
software/i2c_blinkM
software/i2c_nunchuck
software/libusb/
software/lwbuttond
software/onewire
software/rgb_cycle_ws2812
software/servo
software/softPWM
software/spi_LTC1448
